- const { serverURL, option, pageview, meta_css, imageUploader } = theme.waline
- const { lazyload, count, use } = theme.comments

script.
  (() => {
    let initFn = window.walineFn || null

    const initWaline = (Fn) => {
      const waline = Fn(Object.assign({
        el: '#waline-wrap',
        serverURL: '!{serverURL}',
        pageview: !{lazyload ? false : pageview},
        dark: 'html[data-theme="dark"]',
        path: window.location.pathname,
        comment: !{lazyload ? false : count},
        imageUploader: !{imageUploader},
        placeholder: "来都来了 ヾ(≧∇≦*)ゝ，说两句灌灌水💧\n本站支持匿名评论😎\n建议留下邮箱方便回复💖"
      }, !{JSON.stringify(option)}))

      setTimeout(()=>{
        const editDom = document.getElementById('wl-edit')
        if(editDom){
          editDom.placeholder = "来都来了 ヾ(≧∇≦*)ゝ，说两句灌灌水💧\n本站支持匿名评论😎\n建议留下邮箱方便回复💖"
        }
      }, 300)
      
      const destroyWaline = () => {
        waline.destroy()
      }

      anzhiyu.addGlobalFn('pjax', destroyWaline, 'destroyWaline')
    }

    const loadWaline = async () => {
      if (initFn) initWaline(initFn)
      else {
        await getCSS('!{url_for(theme.asset.waline_css)}')
        if (!{meta_css}) await getCSS('!{url_for(theme.asset.waline_meta_css)}')
        const { init } = await import('!{url_for(theme.asset.waline_js)}')
        initFn = init || Waline.init
        initWaline(initFn)
        window.walineFn = initFn
      }
    }

    if ('!{use[0]}' === 'Waline' || !!{lazyload}) {
      if (!{lazyload}) anzhiyu.loadComment(document.getElementById('waline-wrap'),loadWaline)
      else setTimeout(loadWaline, 0)
    } else {
      window.loadOtherComment = loadWaline
    }
  })()
